/* @import "reset.css"; */
/*----------------------*/
/* -- General Styles -- */
/*----------------------*/
#wrap { width: 75vw; margin: 0 auto; text-align: center; height: auto; min-height: 100%;}
body {background-color: #ffffff; color: #555555; line-height: 22px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; text-align: center;}
h1 { font-size: 60px; margin: 35px 0 25px 0; }
h2 { font-size: 22px; margin: 30px 0 15px 0; }
h3 { font-size: 24px; margin: 30px 0 15px 0; }
h3 { font-size: 18px; margin: 25px 0 10px 0; }
a:link, a:visited { color: #0072bc; text-decoration: none; }
a:hover, a:active { color: #555555; }
p { font-size: 14px; margin-bottom: 15px; }

/*--------------*/
/* -- Header -- */
/*--------------*/
#header { padding: 8px 0 16px 0; overflow: hidden; }
#header h1 { color: #aaa; margin: 0 0 0 0; font-size: 30px; letter-spacing: -1px; }

/*-----------*/
/* -- Nav -- */
/*-----------*/
#nav { float: left; width: 100%; overflow: hidden; position: relative; margin: 16px 0 0 0; border-top: 5px #eee solid; border-bottom: 5px #eee solid; padding: 12px 0 8px 0; }
#nav ul { clear: left; float: left; margin: 0; padding: 0; position: relative; left: 50%; text-align: center; }
#nav ul li { float: left; list-style: none; margin: 0; padding: 0; position: relative; right: 50%; }
#nav ul li a {  margin: 0 0 0 1px; padding: 3px 0; font-size: 16px; color: #444; }
#nav ul li a:hover { color: #0072bc; }
#nav li span { padding: 0 20px; color: #444; font-size: 16px;}
#nav li a.current{ color: #0072bc; }

/*-------------------------*/
/* -- Frontpage Content -- */
/*-------------------------*/
#frontpage-content { clear: both; overflow: show; }
#frontpage-intro {  text-align: center; }
#frontpage-intro p { font-size: 22px; color: #888;}
#frontpage-intro p span { color: #555; }
#featured-projects h3 { color: #888; font-size: 20px; text-align: left; }
#featured-projects {text-align: justify;}
#featured-projects #featured-projects-bg {text-align: center; }
#featured-projects #featured-projects-bg1 {text-align: left; width: 50%; margin: 0 0 0 20vw;}
#featured-projects #featured-projects-bg img {  }


  
#featured-projects .featured-project-image { 
  position:relative;
  border: 2px #e5e5e5 solid;
  width: 100%;
}
#featured-projects .featured-project-image.noborder {
  border: 0px transparent none;
} 
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(1);
  transition: 0.5s;
}
td:empty { /*if a table entry is empty don't display it make sure to remove entire rows*/
 display: none;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}

input[type="radio"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 200px; /* little bit of a magic number :( */
  overflow: visible;
}


#featured-projects .image-container:hover { opacity: 0.7; }

#featured-projects .featured-project-image:hover { opacity: 0.7; }


#featured-projects .image-container { 
	position: relative;
	display: inline-block;
	clear:both;
}

#featured-projects .text-container { 
	text-align: justify;
	float: left;
	margin-bottom: 200px;
	clear:both;
}

#featured-projects .text-container-4{
    position: relative;
	text-align: justify;
	width: 25vw;
    vertical-align: middle;
 	padding: 0;
	display: inline-block;
	z-index: 1;
	overflow: hidden;
}

#featured-projects .image-container .image-label {
    display: none;
    position: absolute;
    opacity: 0.7;
    top: 75%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    font-size: 2em;
    line-height: 1.5em;
    box-sizing: border-box;
    text-align: center;
	clear:both;
}

#featured-projects .image-container:hover .image-label {
	display: inline-block;
}

/*--------------*/
/* -- Footer -- */
/*--------------*/
#footer {position:absolute; width: 75vw; clear: both; border-top: 5px #eee solid; color: #bbb; text-align: center; }
#frontpage-outro ol { font-size: 12px; color: #888; text-align: justify; line-height: 12px;}